<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Comment by a student</title>
    <link rel="stylesheet" type="text/css" href="css/display.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>
    <h2> Comment by <%= email %></h2>=
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course code</th>
                <th scope="col">Course name</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
         <% comments.forEach(function(comment){ %>
            <tr>
                    <td><%= comment.courseCode %></td>
                    <td><%= comment.courseName %></td>
                    <td><%= comment.comment %></td>
               </tr>
              <% })%> 
        </tbody>
    </table>
    <a href="http://localhost:1337"> Main Page</a>

</body>
</html>