<!DOCTYPE html>
<html>
<head>
    <!-- Use the 'title' property to render a page title  -->
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/display.css" />

</head>
<body>    
	
    <div class="container">
        <table class="center">
            
            <tr>
                <td> <h2> Authentication </h2> </td>
            </tr>
            <tr>
                <td class="center"><a href="/signup">Sign Up as student</a></td>
            </tr>
            <tr>
                <td class="center"><a href="/signin">Sign In as student</a></td>
            </tr>            
            <tr>
                <td class="center"><a href="/viewAll">Display all Students</a></td>
            </tr>
            <tr>
                <td class="center"><a href="/comments">Display Comments by student</a></td>
            </tr>

        </table>
    </div>
		
	<br>

</body>
</html>