<!DOCTYPE html>
<html>
<head>
    <!-- Use the 'title' property to render a page title  -->
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/loginstyle.css" />
    <link rel="stylesheet" type="text/css" href="css/display.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>

	<!-- Render the signin form  -->
    <form action="/signin" method="post">
        <div class="outer_container">
            <h2>Sign in as student</h2>

            <div class="container">
                <label>Email:</label>
                <input type="text" class ="fields" name="email" />
            </div>
            <div class="container">
                <label>Password:</label>
                <input type="password" class="fields" name="password" />
            </div>
            <div class="container">
                <button type="submit" class="form-field-no-caption">Login</button>
            </div>
        </div>
    </form>

</body>
</html>