<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href="css/display.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <h2> Hello <%= student.email %></h2>
   <!-- Render the signup form  -->
    <form action="/submit_comments" method="post">
        <div class="form-group">
            <h2> Submit a comment</h2>

            <div class="form-group">
                <label>Course code:</label>
                <input type="text" class="form-control form-control-lg" name="courseCode" />
            </div>
            <div class="form-group">
                <label>Course name:</label>
                <input type="text" class="form-control form-control-lg" name="courseName" />
            </div>
            <div class="form-group">
                <label>Program:</label>
                <input type="text" class="form-control form-control-lg" name="program" />
            </div>
            <div class="form-group">
                <label>Semester:</label>
                <input type="text" class="form-control form-control-lg" name="semester" />
            </div>
            <div class="form-group">
                <label>Comment:</label>
                <input type="text" class="form-control form-control-lg" name="comment" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit comment</button>
            </div>
        </div>
    </form>

    <a href="http://localhost:1337"> Main Page</a>

</body>
</html>