<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href="css/display.css" />

</head>
<body>
    <h2> Hello <%= student.email %></h2>
   <!-- Render the signup form  -->
    <form action="/submit_comments" method="post">
        <div class="outer_container">
            <h2> Submit a comment</h2>

            <div class="container">
                <label>Course code:</label>
                <input type="text" class ="fields" name="courseCode" />
            </div>
            <div class="container">
                <label>Course name:</label>
                <input type="text" class ="fields" name="courseName" />
            </div>
            <div class="container">
                <label>Program:</label>
                <input type="text" class ="fields" name="program" />
            </div>
            <div class="container">
                <label>Semester:</label>
                <input type="text" class ="fields" name="semester" />
            </div>
            <div class="container">
                <label>Comment:</label>
                <input type="text" class ="fields" name="comment" />
            </div>
            <div class="container">
                <button type="submit" class="form-field-no-caption">Submit comment</button>
            </div>
        </div>
    </form>

    <a href="http://localhost:3000"> Main Page</a>

</body>
</html>