<!DOCTYPE html>
<html>
<head>
	<title><Thank you></title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="logout"><a href="href="http://localhost:1337">MainPage</a></div>
</body>
</html>