

table.center {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #f1f1f1;
    background-color: azure;
    font-size: x-large;
}

h2 {
    width: 100%;
    text-align: center;
    color: dodgerblue;
}

td.center {
    text-align: center;
    vertical-align: middle;
}
